.body-container-form {
  background-color: black;
  color: #fff;
  font-weight: 600;
  padding: 20px;
}

.boder-white {
  border: 1px solid #fff;
  padding: 20px;
}

.header-content {
  margin-left: 85px;
  color: #ff0000;
  font-weight: 500;
  font-size: 30px;
}

.button-justify {
  display: flex;
  justify-content: center;
}
